:root {
  --base-font-size: 1rem;
  --button-bg-color: #444;
  --button-hover-color: #555;
  --input-focus-color: #007bff;
  --main-bg-color: #282c34;
  --main-text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--button-bg-color);
  border-radius: 4px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--input-focus-color);
  outline: none;
}

button {
  padding: 1rem 1.25rem;
  margin: 0.25rem 0.125rem;
  border: none;
  border-radius: 3px;
  background-color: var(--button-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-form {
  margin-top: 20vh;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.msgContainer {
  max-width: 40vw;
  padding: 20px;
  text-align: justify;
}

.game-start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-msgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-stats {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.game-stats span {
  font-size: 1.2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
